/**
 * Configure page styles.
 *
 * @package    Rd_Post_Republishing
 * @subpackage Rd_Post_Republishing/admin/css
 */

.rd-pr-configure-wrap {
	margin-top: 20px;
}

.rd-pr-configure-content {
	margin-top: 20px;
}
